/*!************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./src/assets/css/style.scss ***!
  \************************************************************************************************************************************************/
body {
  background-color: #000;
  color: tomato;
  text-align: center;
}

p {
  font-size: 20px;
}
p:hover {
  background-color: red;
}

.webpack {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.webpack__logo {
  width: 30%;
}

.test {
  width: 100px;
  height: 100px;
  background: center/cover no-repeat url(../bc251e2ae8a7a8ff2c43.png);
}
