
body {
    background-color: #000;
    color: tomato;
    text-align: center;
}

p {
    font-size: 20px;

    &:hover {
        background-color: red;
    }
}

.webpack {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__logo {
        width: 30%;
    }
}

.test {
    width: 100px;
    height: 100px;
    background: center / cover no-repeat url('../images/webpack.png');
}